version: "3.9"

services:
  streamlit-app:
    build: .
    container_name: streamlit-app
    ports:
      - "8501:8501"
    restart: always
    env_file:
      - .env
    command: streamlit run Cadastro.py --server.port=8501 --server.address=0.0.0.0
